/node_modules
/public/hot
/public/adminImages
/public/audio
/public/downloads
/public/invoices
/public/pdf
/public/plugins
/public/psycho
/public/teacherImages
/public/video
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
